body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: poppins, sans-serif;
  color: #fff;
  text-align: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../styles/images/background-image.png")
    no-repeat center center;
  background-size: cover;
  display: fixed;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.intro {
  background: rgba(0, 0, 0, 0.6);
  padding: 25px;
  border-radius: 12px;
  max-width: 500px;
  width: auto;
}

.intro h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.intro p {
  font-size: 1.1em;
  line-height: 1.5em;
}

@media (max-width: 768px) {
  body {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .intro {
    margin: 0;
    padding: 20px;
  }
  .intro h1 {
    font-size: 1.6em;
  }
  .intro p {
    font-size: 1em;
  }
}