html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../styles/images/background-image.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Poppins, sans-serif;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.intro {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
}

.intro h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.intro p {
  font-size: 1.1em;
  line-height: 1.5em;
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
  }

  .intro {
    margin: 0;
    padding: 20px;
  }

  .intro h1 {
    font-size: 1.5em;
  }

  .intro p {
    font-size: 1em;
  }
}
